HostKey /etc/ssh/ssh_host_ed25519_key
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AllowTcpForwarding yes
GatewayPorts no
StreamLocalBindUnlink yes
PermitRootLogin no
